@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

/* Estilos Generales */
:root {
    --color-principal: #0a3871;
    --color-secundario: #f3f5fc;
    --color-tercero: #d8dfe8;
    --color-alternativo: #DB702C;
    --color-default: #2F3246;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

a{
    text-decoration: none;
}

/* Menu Redes Sociales */
.menu-sociales{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
}

.menu-sociales a{
    color: var(--color-secundario);
    opacity: 0.5;
    font-size: 14px;
    margin: 0 30px;
    transition: all .5s;
}

.menu-sociales a:hover{
    opacity: 1;
}

/* Header */

.logo{
    display: flex;
    padding: 10px;
    background-color: var(--color-secundario);
}

.logo__img{
    margin: 10px ;
}

/* Encrictador */

.container{
    position: relative;
    width: 100vw;
    height: 81vh;
    background-color: var(--color-secundario);
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: var(--color-secundario);
}

.texto::placeholder{
    font-family: "inter";
    color: var(--color-principal);
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.encriptar__terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.encriptar__terminos p{
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--color-default);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn__estilo{
    padding: 2%;
    gap: 8px;
    width: 25%;
    justify-content: center;
    border-radius: 24px;
    font-size: 18px;
    line-height: 19px;
    font-family: "inter";
    text-align: center;
}

.btn__encriptar{
    align-items: center;
    background-color: var(--color-principal);
    color: #fff;
    margin-right: 10px;
}

.btn__desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--color-tercero);
    border: 1px solid var(--color-principal);
    font-weight: 400;
    color: var(--color-principal);
}

.btn__estilo:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: #fff;
    border: 1px solid var(--color-tercero);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.encriptado__mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.encriptado__mensaje h2{
    width: 60%;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--color-default);
}

.encriptado__mensaje p{
    width: 80%;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-default);

}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

footer p{
    display: flex;
    justify-content: center;
}

.fa-sharp{
    margin-left: 5px;
    margin-right: 5px;
    color: #ff0000;
}

/* Responsive Design */

@media (max-width: 820px) {
    .container{
        display: flex;
        flex-direction: row;
    }

    .encriptar{
        width: 100%;
    }

    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .encriptar__terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .encriptar__terminos p{
        font-size: 16px;
    }

    .btn{
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn__estilo{
        width: 48%;
        border-radius: 16px;
    }

    .btn__estilo:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1,8%;
    }

    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .encriptado__mensaje{
        width: 100%;
        top: 5%;
    }

    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}